h2.widget-title {
  color: #000d1a;
  font-family: "Helvetica", Arial, Verdana;
  font-size: 275%;
  margin-bottom: 1%;
  text-align: center;
  text-decoration: underline;
}
ul.bt_widget {
  margin-left: 0;
}
ul.bt_widget li {
  background-color: #fafafa;
  border-bottom: 1px solid #000d1a;
  height: auto;
  margin:0 0 10px 0; 
  list-style:none;
  line-height:150%;
  padding: 0 2% 0 2%;
}
ul.bt_widget img {
  border: 1px solid #000d1a;
  height: 20em;
  margin-bottom: 1%;
  width: 100%;
}
ul.bt_widget li a {
  color: #000d1a;
  font-family: "Helvetica", Arial, Verdana;
  font-size: 200%;
  font-weight: bold;
  line-height: 125%;
  margin-left: 1%;
  text-decoration: none;
}
ul.bt_widget li a:hover {
  text-decoration: underline;
}
ul.bt_widget li span {
  color: #000d1a;
  display: block;
  font-family: "MS serif", Times, Georgia;
  font-size: 105%;
  margin: 1% 0 1% 2%;
}
a.read-more {
  font-size: 100em;
}
a.widgetmore p {
  font-size: 50%;
  margin: 0;
}

.post-txt img {
  border: 1px solid #000d1a;
  height: 10em;
  width: 100%;
  margin-bottom: 1%;

}

.post-txt li a {
  color: #000d1a;
  font-family: "Helvetica", Arial, Verdana;
  font-size: 200%;
  font-weight: bold;
  line-height: 125%;
  margin-left: 1%;
  text-decoration: none;
}

.post-txt li a {
  margin-left: 2%;
}

.post-txt li a:hover {
  text-decoration: underline;
}

.post-txt li {
  list-style: none; 
  width: 80%;
  margin: 0 10% 0 10%;
  border: 1px solid #000d1a;
}

.post-txt li {
  list-style: none; 
}

a.shortcodemore p {
   color: #000d1a;
  font-family: "Helvetica", Arial, Verdana;
  font-size: 50%;
  font-weight: bold;
  line-height: 80%;
  margin-left: 1%;
  text-decoration: none;
  margin-left: 3%;
  margin-bottom: 0%;
}
